
<!-- Banner Div -->


<div class="banner container text-center">
  
  <div class="overlay container">
  
    <div class="content pagination-centered">
    <h1 class="title text-black "> Pure Intentions </h1>

    <p class="desc text-black-70">Counselling & Wellness Services</p>

  </div>

  </div>  
</div>

<!-- NavBAR -->

<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fa fa-bars"></i>
</button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
      </ul>
    </div>
  </div>
</nav>
